<script lang="ts">
    import type { Group } from "@core/group"

    import { onMount } from "svelte"
    import { List } from "immutable"
    import { loadGroups } from "@core/storage"

    let groups: List<Group> = List();
    let groupName = "";

    onMount(() => {
        groups = List(loadGroups())
    });

    function createGroup() {
        const group: Group = {
            name: groupName,
            members: [],
            selections: []
        };

        groups = groups.push(group)
        groupName = "";
    }
</script>

<main class="container">
    <form class="row" on:submit|preventDefault={createGroup}>
        <div class="col-4">
            <input type="text" class="form-control" placeholder="My super group" bind:value={groupName}>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">
                Create group
            </button>
        </div>
    </form>
    <section class="row">
        {#if groups.size == 0}
            <div class="col">
                <p class="text-muted">No groups</p>
            </div>
        {/if}
        {#each groups.toArray() as group}
            <div class="col">
                <h4>{ group.name }</h4>
            </div>
        {/each}
    </section>
</main>